<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RQMCache" connectionString="metadata=res://*/DataModel.RQMCache.csdl|res://*/DataModel.RQMCache.ssdl|res://*/DataModel.RQMCache.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=flqaadmin01.corp.fnfs.net;User Id=root;Password=KI4MRB;database=rqmmigration2&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>